* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive';
    font-weight: 400;
}

h1 {
    font-family: 'Righteous';
    font-size: 35px;
    color: #ffffff;
    text-align: center;

    margin-bottom: 50px;
}

h2 {
    font-family: 'Righteous';
    font-size: 35px;
    color: #ffffff;
    text-align: center;

    margin-top: 5px;
}


/* WELCOME WINDOW ----------------------- */

.welcomeWindow {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto auto auto auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: #FB6B6B;
}

.welcomeWindowImage {
    width: 140px;
    height: auto;
    margin-bottom: 30px;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 55px;
    background-color: #ffffff;

    border: 1px solid #d70900;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 0 auto 0 auto;

    color: #d70900;
    font-size: 20px;
}


/* HEADER ------------------------------- */

.header {
    width: 100vw;
    height: 140px;
}

.headerImage {
    width: 55px;
    height: auto;
}

.flashcardWindowHead {
    height: 140px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.flashcardWindowImage {
    width: auto;
    height: 60px;
    margin-right: 30px;
}


/* FLASHCARDS --------------------------- */

.flashcards {
    margin-bottom: 170px;
}

.flashcardClosed {
    min-width: 300px;
    width: 80vw;
    min-height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px auto;

    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.flashcardClosed p {
    font-weight: 700;
    margin-left: 20px;
    font-size: 16px;
}

.flashcardClosed ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.flashcardOppen {
    min-width: 300px;
    width: 80vw;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto 30px auto;
    position: relative;

    background-color: #FFFFD4;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.flashcardOppen>p {
    margin: 20px 0 20px 20px;
    font-size: 18px;
}

.flashcardOppen ion-icon {
    height: 35px;
    width: 35px;

    position: absolute;
    bottom: 10px;
    right: 20px;
}

.zapButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zapButtons>div {
    width: 85px;
    height: 40px;
    border-radius: 5px;
    margin: 0 20px 15px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #ffffff;
    font-size: 12px;
}

.wrong {
    background-color: #FF3030;
}

.flashcardClosedWrong>p, .flashcardClosedWrong>ion-icon {
    color: #FF3030;
    text-decoration: line-through;
}

.almost {
    background-color: #FF922E;
}

.flashcardClosedAlmost>p, .flashcardClosedAlmost>ion-icon {
    color: #FF922E;
    text-decoration: line-through;
}

.zap {
    background-color: #2FBE34;
}

.flashcardClosedZap>p, .flashcardClosedZap>ion-icon {
    color: #2FBE34;
    text-decoration: line-through;
}

/* RESULTS BAR -------------------------- */

.resultsBar {
    min-height: 70px;
    height: auto;
    width: 100vw;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

.resultsBar p {
    font-size: 18px;
    margin: 15px 0 15px 0;
}


/* HIDDEN ------------------------------- */

.hidden {
    display: none;
}